@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: "Manrope", sans-serif;
		color: #131318;
	}

	button {
		cursor: pointer;
	}

	img {
		width: 100%;
		border-radius: 1rem;
		object-fit: cover;
	}
}

@layer components {
	.carousel-btn {
		@apply bg-black text-white hover:bg-black border-none;
	}

	.carousel-item img {
		@apply max-h-[550px] object-cover rounded-lg;
	}

	.section-title {
		@apply text-center py-8 border-y-2 border-dotted;
	}

	.content-heading {
		@apply text-4xl font-extrabold mb-6;
	}

	.content-summary {
		@apply text-base font-medium max-w-screen-sm m-auto leading-relaxed;
	}

	.grid-two {
		@apply grid grid-cols-1 md:grid-cols-2;
	}

	.flex-footer-row {
		@apply flex flex-col gap-3 text-base;
	}

	.section-gap {
		@apply pt-12 pb-24;
	}

	.program-caption {
		@apply absolute md:bottom-12 md:translate-y-0 bottom-1/2 translate-y-1/2 md:left-10 left-7 max-w-[500px] z-20 text-white pr-6;
	}

	.program-overlay {
		@apply after:bg-[#13131880] after:absolute after:top-0 after:w-full after:h-full after:z-10 after:rounded-2xl;
	}

	.program-btn {
		@apply bg-btn border-none mt-4 hover:bg-btn font-semibold text-base md:text-xl text-white;
	}

	.program-heading {
		@apply text-lg md:text-2xl mb-3 md:content-heading font-bold;
	}
}

@layer utilities {
	.main_container {
		@apply max-w-screen-xl m-auto lg:px-12 px-4;
	}
}
